.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #061a23 0%, #06262d 63.54%, #06373b 100%);
  justify-content: start;
  .add-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
